{% extends "base.html.twig" %}
{% block title 'A propos - La Boutique Design' %}
{% block body %}
<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="max-height: 50vh; background-image:url(../../../assets/images/main-bg-users.jpg)" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container container-small">
    <div class="row">
      <div class="col-md-12 text-center display-tc">
        <h1>A propos</h1>
      </div>
    </div>
  </div>
</header>
<div id="fh5co-about" class="fh5co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img-wrap animate-box" data-animate-effect="fadeInLeft"> 
        <!-- col-md-pull-4  -->
        <img src="{{ asset('assets/images/living-room-2569325__340.webp') }}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
      </div>
      <div class="col-md-5 col-md-push-1 animate-box">
        <div class="section-heading">
          <h2>La boutique design</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae neque quisquam at deserunt ab praesentium architecto tempore saepe animi voluptatem molestias, eveniet aut laudantium alias, laboriosam excepturi, et numquam? Atque tempore iure tenetur perspiciatis, aliquam, asperiores aut odio accusamus, unde libero dignissimos quod aliquid neque et illo vero nesciunt. Sunt!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iure reprehenderit nihil nobis laboriosam beatae assumenda tempore, magni ducimus abentey.</p>
          <p><a href="#" class="btn btn-primary btn-outline">Notre histoire</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fh5co-featured-testimony" class="fh5co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 fh5co-heading">
        <h2>Témoignage</h2>
        <div class="row">
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
          </div>
        </div>
      </div>

      <div class="col-md-5 animate-box img-to-responsive">
          <img src="{{ asset('assets/images/flowers-789630_640.jpg') }}" alt="">
      </div>
      <div class="col-md-7 animate-box">
        <blockquote>
          <p style="color:#ea272d"> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam. &rdquo;</p>
          <p class="author"><cite>&mdash; Jane Smith</cite></p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(../../../assets/images/main-bg-products.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>En savoir plus</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate, sequi quam ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime odio? Eaque!</p>
        <p><a href="{{ path('contact') }}" class="btn btn-primary btn-outline">Nous contacter</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}