<!-- Génére un sous menu dynamique en fonction des catégories -->
{% for category in categories %}
  <li><a href="{{ path('product_category', {'id': category.id, 'name': category.name}) }}">{{ category.name }}</a></li>
{% endfor %}
<!-- Permet d'accéder aux favoris si l'utilisateur est connecté -->
{% if is_granted('ROLE_USER') %}
  <li><a href="{{ path('product_favourite') }}"></i>Mes favoris&nbsp;<i class="icon-heart3"></i></a></li>
{% endif %}
